<nav class="top-row ps-3 navbar navbar-dark  bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Brennan's Website</a>
        
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
        <NavLink class="nav-link" href="/GardensList">
            <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Gardens List
        </NavLink>
        <NavLink class="nav-link" href="weather">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
        </NavLink>
         <NavLink class="nav-link" href="About me">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> About me
                    </NavLink>
    </div>
</nav>