<nav class="top-row navbar navbar-dark  bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Community Gardens</a>
        <NavLink class="nav-link" href="About me">
            <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> About me
        </NavLink>
        <AuthorizeView Roles="admin">
        <Authorized>
            <NavLink class="nav-link" href="UserAccountList">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> User Accounts List
            </NavLink>
        </Authorized>
        </AuthorizeView>
        <AuthorizeView>
            <NotAuthorized>
                <NavLink class="nav-link" href="Login">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Login
                </NavLink>
            </NotAuthorized>
            <Authorized>
                <NavLink class="nav-link" href="Logout">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Logout
                </NavLink>
            </Authorized>
        </AuthorizeView>
    </div>
</nav>

