@page "/About me"

<PageTitle>About me</PageTitle>

<h1>About me</h1>
   

<div class="defined-area">
   <p>I am a Computer Science graduate proficient in Unity, Java, Python, and C#,
       with a passion for building innovative solutions. I specialize in Video game design,
       and software development and I’m eager to apply my skills to challenging projects.</p>
    
   <p>I’m currently seeking full-time opportunities to contribute to exciting projects.
             Feel free to email me at brennanhen@gmail.com.</p>  
</div>
 <link rel="stylesheet" href="about_me.css">

@code {
    
}
@*
-revise <p>
-picture of me
- galaary of images explaining showcaseback end skills 
!!show off your frontend , explain the back end 
*@
