@page "/AddGardener"
@rendermode InteractiveServer 
@using BrennansWebsite.Models
@inject Data.ApplicationDbContext DbContext
<PageTitle>Add New Gardener</PageTitle>
<h3>Add Gardener</h3>

<EditForm Model="@Gardener" OnValidSubmit="SubmitForm" FormName="gardenerForm" >
    <div class="form-group">
        <label for="FirstName">First Name</label>
        <InputText @bind-Value="Gardener.FirstName" class="form-control" id="FirstName" />
    </div>
    <br/>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <InputText @bind-Value="Gardener.LastName" class="form-control" id="LastName" />
    </div>
    <input type="submit" class="btn btn-primary" value="Save"/>
</EditForm>
<NavLink href="/GardenersList">Back to Gardener's List</NavLink>
@code {
    Gardener Gardener = new();

    private async Task SubmitForm()
    {
        DbContext.Gardeners.Add(Gardener);
        await DbContext.SaveChangesAsync();
        
    }
}
